<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Bootstrap and fonts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fonts/css/font-awesome.min.css') }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.min.css" integrity="sha512-8jdwayz5n8F2cnW26l9vpV6+yGOcRAqz6HTu+DQ3FtVIAts2gTdlFZOGpYhvBMXkWEgxPN3Y22UWyZXuDowNLA==" crossorigin="anonymous" /> -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">

    <!-- Styles and scripts -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <!-- d3 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

    <!-- Marker Cluster / Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    
    <!-- Team JS -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/cloud_app.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/DayOftheWeek.js') }}"></script>

    <!-- Cloud App -->
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

    <!-- Day of the week App -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <title>Data Jobs</title>

</head>

<body>
<!-- div used to make the body blur -->
    <div class="overlay" id="overlay" onclick="closeNav()"></div>

    <section class="head index-part-1">
        <div class="head-bar">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                    <a href="/"><img class="img-responsive" src="{{ url_for('static',filename='img/AAData_Job_small.png') }}"></a>
                </div>
                <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6 text-right">
                    <div id="mySidenav" class="sidenav text-center">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br>
                        <a href="index.html">Home</a><hr>
                        <a href="about.html">About the Project</a><hr>
                        <a href="/team">Team</a><hr>
                    </div>
                    <div class="main" id="main">
                      <a href="#" onclick="openNav()">MENU &#9776;</a>
                    </div>
                </div>
              </div>
              <hr>
          </div>
        </div>
    </section>
    <section class="index-part-1">
        <div class="container">
               <div class="wow-logo text-center">
                  <img class="img-responsive text-center" src="{{ url_for('static',filename='img/analytics1.png') }}">
               </div> 
               <div class="font-1 helmet text-center">
                 <p><strong>Find Your Dream Data Job</strong> - Search Now!</p>
               </div>
               <div class="wow-btn text-center">
                <form>
                  <div class="select-list">
                      <div class="select-list-item">                          
                          <select name="state" id="ddstate">
                            {% for s in sdata %}
                            <option value="{{ s }}">{{ s }}</option>
                            {% endfor %}
                          </select>
                      </div>
                      <div class="select-list-item">                          
                          <select name="role" id="ddrole">
                            {% for r in rdata %}
                            <option value="{{ r }}">{{ r }}</option>
                            {% endfor %}                           
                          </select>
                      </div>
                      <button id="submit" type="submit" class="btn btn-default wow-button">Find me my dream role!                        
                      </button> 
                    </div>                    
                </form> 
               </div>
          </div>
    </section>
 
    <section class="index-part-2">
         <div class="container">

            <!-- <div class="row"> -->
               <div class="text-center">
                 <h2>Need to know the market?</h2>
               </div>
               <hr class="hr-mid">
               <div class="sub-text text-center">
                     <p class="font-1">
                        Check out our interactive charts and be informed!
                     </p>
               </div>
           <!-- </div> -->

            <div class="row">
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                      <div class="block text-center block-first">
                                 <div class="map-container">
                            <div id="map" style="width: 600px; height: 400px"></div>
                        </div>
                        </div>   
                </div>
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                      <div class="block text-center block-second">
                        <div class="cloud-container">
                          <div class="col-md-6">
                              <div id="cloud" style="width: 600px; height: 400px">
                              </div>
                          </div>
                      </div>    
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-third">
                      <div class="weekday-container">
                        <div id="weekday-plot" style="width: 600px; height: 400px">
                        </div>
                      </div> 
                    </div>   
                </div>
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-last">
                          <div id="underemp-plot" style="width: 600px; height: 400px">
                          </div>                                         
                      </div>
                    </div>
                </div>
            </div>
    </section>

   <section class="index-part-3">
        <div class="container">
           <!-- <div class="row"> -->
                <div class="text-center">
                <h2>Here are the best jobs available right now</h2>
                  <hr class="hr-mid">
                </div>
                <div class="row">
                    <section id="individual-job" class="bg-light"></section> 
                </div>
            <!-- </div> -->
          </div>
    </section>

    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="footer-p1">
                    <p class="font-2">Copyright 2020 by Amil Walgamage, Babette Blanquet, Jamie Tan & Tas Tudor </p>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <img class="img-responsive foot-img" src="{{ url_for('static',filename='img/AAData_Job_small.png') }}">
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="footer-p2" >
                     <p class="font-2">Monash Bootcamp Project 2</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
        <section id="individual-job" class="bg-light"></section> 
    </div>     
</body>
<script type="text/javascript" src="{{ url_for('static',filename='js/logic.js') }}"></script>
</html>


