<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Google Fonts / Bootstrap-->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b3674fd71e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" type="text/css">
    
    
    <!-- d3 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

    <!-- Marker Cluster / Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

    <!-- Team JS -->
    <script type="text/javascript" src="assets/js/script.js" ></script>
    <script type="text/javascript" src="assets/js/config.js"></script>
    <script type="text/javascript" src="assets/js/logic.js"></script>
    <script type="text/javascript" src="assets/js/cloud_app.js"></script>
    <script type="text/javascript" src="assets/js/DayOftheWeek.js"></script>

    <!-- Cloud App -->
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

    <!-- Day of the week App -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    


    <title>Data Jobs</title>
</head>
<body>
<!-- div used to make the body blur -->
    <div class="overlay" id="overlay" onclick="closeNav()"></div>

    <section class="head index-part-1">
        <div class="head-bar">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6">
                    <a href="index.html"><img class="img-responsive" src="assets/img/AAData_Job_small.png"></a>
                </div>
                <div class="col-lg-6 col-xs-6 col-sm-6 col-md-6 text-right">
                    <div id="mySidenav" class="sidenav text-center">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a><br>
                        <a href="index.html">Home</a><hr>
                        <a href="job_listing.html">Job Listing</a><hr>
                        <a href="team.html">Team</a><hr>
                    </div>
                    <div class="main" id="main">
                      <a href="#" onclick="openNav()">MENU &#9776;</a>
                    </div>
                </div>
              </div>
              <hr>
          </div>
          </div>
          <div class="wow">
          <div class="container">
            <div class="row">
               <div class="wow-logo">
                  <img class="img-responsive img-logo" src="assets/img/analytics1.png">
               </div> 
               <div class="font-1 helmet text-center">
                 <p><strong>Find Your Dream Data Job</strong> Search Now!.</p>
               </div>
               <div class="wow-btn text-center">
                     <a class="btn btn-default wow-button" href="high_level.html">Find me my dream role!</a>
               </div>
            </div>
          </div>
        </div>
    </section>
 
    <section class="index-part-2">
         <div class="container">

            <div class="row">
               <div class="text-center">
                 <h2>Need to know the market?</h2>
               </div>
               <hr class="hr-mid">
               <div class="sub-text text-center">
                     <p class="font-1">
                        Check out our interactive charts and be informed!
                     </p>
               </div>
           </div>

          <div class="row">
            <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                  <div class="block text-center block-first">
                    <div class="icon">
                        <i class="fa fa-hand-o-right fa-2x"></i>
                    </div>  
                      <h4>
                        Select You State & Data Professional Role</h4>
                    </div>   
            </div>
            <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                  <div class="block text-center block-last">
                    <form>
                      <div class="select-list">
                          <div class="select-list-item">
                              <p>Select State</p>
                              <select>
                                  <option data-display=" ">Select State</option>
                                  <option value="">ACT</option>
                                  <option value="">Victoria</option>
                              </select>
                          </div>
                          <div class="select-list-item">
                              <p>Select Role</p>
                              <select>
                                  <option data-display=" ">Select Role</option>
                                  <option value="">Data Analyst</option>
                                  <option value="">Data Scientist</option>
                                  <option value="">Data Engineer</option>
                              </select>
                          </div>
                      <button type="submit" class="site-btn">Find me my dream role!</button>
                    </form>   
                  </div>
            </div>
          </div>





            <div class="row">
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                      <div class="block text-center block-first">
                                 <div class="map-container">
                            <div id="map" style="width: 600px; height: 400px"></div>
                        </div>
                        </div>   
                </div>
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                      <div class="block text-center block-second">
                        <div class="cloud-container">
                          <div class="col-md-6">
                              <div id="cloud" style="width: 600px; height: 400px">
                              </div>
                          </div>
                      </div>    
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-third">
                      <div class="weekday-container">
                        <div id="weekday-plot" style="width: 600px; height: 400px">
                        </div>
                      </div> 
                    </div>   
                </div>
                <div class="col-xs-12 col-lg-6 col-sm-6 col-md-6 col-block">
                    <div class="block text-center block-last">
                            <div class="icon">
                                 <i class="fa fa-bar-chart fa-2x"></i>
                            </div>  
                            <h4>Jamie's Chart HERE</h4>
                            <p class="font-2">Benchmarking</p>                                        
                      </div>
                    </div>
                </div>
            </div>
    </section>

    

    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="footer-p1">
                    <p class="font-2">Copyright 2020</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <img class="img-responsive foot-img" src="assets/img/AAData_Job_small.png">
          </div>
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="footer-p2" >
                     <p class="font-2">Bootcamp Project 2</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
 
</body>
</html>


