body {
    padding: 0;
    margin: 0;
  }
  
  #animation,
  #benchmark,
  #cloud,
  body,
  html {
    height: 100%;
    width: 100%;
  }

/* // #23B5B5 light blue rgb(35,181,181)
// #545454 grey rgb(84,84,84)
// #F69356 orange
// #246ED1 Darker blue
// #89E661 Green
// #FF5757 Coral Red rgb(255,87,87)
// #017074 Turquoise */